{% extends 'base.html' %}

{% block title %}Home - {% endblock %}

{% block content %}

<div>
    {% for team in teams %}
    <div class="card card-body mb-3 py-2 px-3">
        <div class="row mx-0 mb-2">
            <a class="col btn btn-secondary" href="#">{{ team }}</a>
            <a class="col"></a>
            <a class="col-2 btn btn-outline-secondary" href="{% url 'edit_team' team.id %}">Edit Team</a>
            
        </div>
        <div>
            {% for member in team.members.all %}
                <div class="row mx-0 mb-2 bg-light rounded">
                    <span class="col">
                        <span class="mr-2">{{ member }}</span>
                        <small class="col text-secondary">{{ member.position }} @ {{ member.company }}</small>
                    </span>
                    <a class="col-2 btn btn-outline-secondary py-0" href="{% url 'edit_member' member.id %}">Edit</a>
                </div>
            {% endfor %}
            <a class="btn btn-outline-secondary" href="{% url 'create_member' %}">
                Add new member
            </a>
        </div>
    </div>
    {% endfor %}
    <a class="btn btn-outline-secondary" href="{% url 'create_team' %}">
        Create new Team
    </a>
</div>

{% endblock %}
